<a href="https://colab.research.google.com/github/AbdulAhadRauf/WeatherDataWithPandas/blob/main/Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas
data = pandas.read_csv("/DATA/weather_data.csv")

#AVERAGE MANUAL

In [13]:
list_data = data["Temperature"].to_list()
# for i in list_data:
#     total += int(i)
total1 = sum(list_data)
average = total1/len(list_data)
print(average)

19.0

#INBUILT METHODS IN PANDAS

In [ ]:
average = data["Temperature"].mean()
median = data["Temperature"].median()
mode = data["Temperature"].mode()
max = data["Temperature"].max()
min = data["Temperature"].min()
print(f'{average}\n{median}\n{mode}\n{max}\n{min}')

19.0
19.0
0    18
dtype: int64
21
18

#PRINT COLUMNS AND ROWS

In [ ]:
#PRINT COLUMNS 
print(data.Days,"\n")
#PRINT ROWS
print(data[data["Days"] == "Monday"], "\n")
print(data[data.Days=="Monday"])

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
Name: Days, dtype: object

     Days  Temperature Conditions
0  Monday           18      Rainy

     Days  Temperature Conditions
0  Monday           18      Rainy

#PRINT ROW ON MAX TEMP

In [ ]:
print(data[data.Temperature == data.Temperature.max()])

       Days  Temperature Conditions
5  Saturday           21     Cloudy

#PRINT MONDAYS TEMP AND CONVERT IT TO FARENHEIGHT!

In [ ]:
mon = data[data.Days == "Monday"]
monday_Temp = int(mon.Temperature)
f = monday_Temp *(9/5) + 32
print(f)

64.4